<link href="@Url.Content("~/Areas/TCD/Stylesheets/ol.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Areas/TCD/Stylesheets/map2.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Areas/TCD/Scripts/baseURL.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Areas/TCD/Scripts/ol-debug.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Areas/TCD/Scripts/vue.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Areas/TCD/Scripts/axios.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Areas/TCD/Scripts/map2.js")" type="text/javascript"></script>
  
  <script type="text/x-template" id="plot-dialog-template">
  <transition name="modal">
    <div class="modal-mask" @@click="$emit('close')">
      <div class="modal-wrapper">
        <div class="modal-container-plot" @@click.stop>

          <div class="modal-header">
              <b>{{plot.name}}</b>
			  <button class="modal-default-button" @@click="$emit('close')">
                x
              </button>			  
          </div>

          <div class="modal-body">
			<a :href="'visual_plotstation_raw?region='+encodeURIComponent(plot.region)+'&plot='+encodeURIComponent(plot.name)" target="_blank">view climate data</a>
			<br>
			<br>
			<table>
			<tbody>
			<tr><td>project: </td><td>{{plot.region}}</td></tr>
			<tr><td>group: </td><td>{{plot.general}}</td></tr>			
			<tr><td>position (WGS84): </td><td>{{plot.lat.toFixed(4)}}, {{plot.lon.toFixed(4)}}</td></tr>
			<tr v-if="plot.elevation !== undefined"><td>elevation: </td><td>{{plot.elevation.toFixed(0)}}</td></tr>
			</tbody>
			</table>
          </div>

          <div class="modal-footer">		  
              <button class="modal-default-button" @@click="$emit('close')">
                close
              </button>
          </div>
        </div>
      </div>
    </div>
  </transition>
  </script>
  
  
  <script type="text/x-template" id="plots-dialog-template">
  <transition name="modal">
    <div class="modal-mask" @@click="$emit('close')">
      <div class="modal-wrapper">
        <div class="modal-container-default" @@click.stop>

          <div class="modal-header">
              <b>Select Plot</b>
			  <button class="modal-default-button" @@click="$emit('close')">
                x
              </button>			  
          </div>

          <div class="modal-body">
				<table>
					<tr v-for="plot in plots" @@click="$emit('plot', plot)" style="cursor: pointer;">
						<td>{{plot.name}}</td>
					</tr>
				</table>
          </div>

          <div class="modal-footer">		  
              <button class="modal-default-button" @@click="$emit('close')">
                close
              </button>
          </div>
        </div>
      </div>
    </div>
  </transition>
  </script>
  
  

	<div id="app">
		<div v-if="message != undefined">
		{{message}}
		</div>
		<div id="map_container">
			<div id="map" class="map"></div>
			<div id="map_overlay">
				<template v-for="plot in hoveredPlots">
				{{plot.name}}<br>
				</template>
			</div>
		</div>		
		<plots-dialog v-if="showPlotsDialog" @@close="showPlotsDialog = false" :plots="selectedPlots" @@plot="viewPlot($event);">
		</plots-dialog>
		<plot-dialog v-if="showPlotDialog" @@close="showPlotDialog = false" :plot="selectedPlot">
		</plot-dialog>
    <div class="main_page_link_and_help" style="z-index:9999;">
    <a href="./">main-page</a>
    <button @@click="toggleHelp">?</button>
    </div>


    <div id="help" v-if="visibleHelp">
      <h1>Instructions</h1>
      <hr>
      (Press ?-button again to hide this help-box.)
      <br><br>
      The map-page shows measurement plots on a world-map.
      <br>
      <br>
      A circles with number represent the count of plots at that position.
      <br>
      When you zoom-in (use the mouse-wheel) circles with plot-names appear.
      <br><br> If you click on a circle with numbers, a box opens with contained plot-names.
      <br> Click on a plot-name to show infos about the plot.
      <br><br> If you click on a circle with plot-name, the box with plot infos opens.
    </div>
	</div>
